<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.studytoworld">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudyToWorld">
        <activity
            android:name=".StartActivity"
            android:exported="true">

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key" />

        <activity
            android:name=".EnglishStudyRoom"
            android:exported="true" />
        <activity
            android:name=".HelpAndInformation.HelpAndInformation"
            android:exported="true"></activity>
        <activity
            android:name=".Schedule.LearningSchedule"
            android:exported="true"></activity>
        <activity
            android:name=".Schedule.CreateLearningSchedule"
            android:exported="true" >
          
        </activity>

        <receiver android:name=".AlarmReceiver" />

        <activity
            android:name=".Achievement.AchievementActivity"
            android:exported="true" />
        <activity
            android:name=".Information.NearbyLibrary"
            android:exported="true" />
        <activity
            android:name=".UserProfile.UserProfile"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true"></activity>

        <receiver android:name=".AlarmReceiver" />

        <activity
            android:name=".Register"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserProfile.EditUserProfile"
            android:exported="true" />
        <activity
            android:name=".ChineseStudyRoom"
            android:exported="true"
            >
          
        </activity>
        <activity
            android:name=".MusicPlay"
            android:exported="true" />
        <activity android:name=".MusicPlayerActivity" />
        <activity
            android:name=".ChatRoomTitleActivity"
            android:exported="true" />
        <activity
            android:name=".ChatRoomActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>