<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studytoworld">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudyToWorld">
        <activity
            android:name=".Schedule.LearningSchedule"
            android:exported="true">

        </activity>
        <activity
            android:name=".Schedule.CreateLearningSchedule"
            android:exported="true">

        </activity>
        <receiver android:name=".AlarmReceiver"/>
        <activity
            android:name=".UserProfile"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true"></activity>
        <activity
            android:name=".Register"
            android:exported="true" />
        <activity
            android:name=".EditUserProfile"
            android:exported="true" />
        <activity
            android:name=".MusicPlay"
            android:exported="true" />
        <activity android:name=".MusicPlayerActivity"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>